.family-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.member-count {
    box-shadow: inset 4px 4px 10px var(--shadow-primary), inset -4px -4px 10px var(--shadow-secondary);
    border-radius: 8px;
}