<div class="p-3" style="position: relative; padding-bottom: 105px !important;">
    <form [formGroup]="detailsForm" (ngSubmit)="onClickSubmit()">
        <div class="text-center pb-2">
            <div (click)="detailsForm.get('isImageLink')?.value ? openOrShowLinkModal(true) : fileInput.click()"
                class="position-relative d-inline-block rounded-pill neo-shadow-outward" style="padding: 1px;">
                <img [src]="detailsForm.get('primaryImageUrl')?.value ?? 'images/no-image.png'"
                    class="profile-image rounded-circle" referrerpolicy="no-referrer"
                    (error)="$event.target.src='images/unsupported.png'">
                <input id="fileUploader" type="file" (change)="onFileChange($event)" hidden #fileInput
                    readonly="{{detailsForm.get('isImageLink')?.value}}">
            </div>

            <div class="row g-0 justify-content-between align-items-end">
                <div class="col-4"></div>
                <div class="col-4">
                    @if(detailsForm.get('isImageLink')?.value) {
                    <label class="form-text m-0" data-bs-toggle="modal" data-bs-target="#imageLinkModal">
                        Provide link
                    </label>
                    } @else {
                    <label for="fileUploader" class="form-text m-0">Upload photo</label>
                    }
                </div>

                <div class="col-4 d-flex justify-content-end align-items-end gap-2">
                    <label class="form-text p-0 m-0" for="isImageLink">Link</label>
                    <label class="neo-toggle m-0 p-0">
                        <input formControlName="isImageLink" type="checkbox" id="isImageLink" />
                        <span class="track">
                            <span class="thumb"></span>
                        </span>
                    </label>
                </div>
            </div>
        </div>

        <div class="basic-control-container form-floating">
            <input formControlName="name" type="text" class="form-control" placeholder="Name"
                [class.is-invalid]="detailsFormControlls['name'].touched && detailsFormControlls['name'].invalid">
            <label class="primary-label">
                Name
            </label>
        </div>

        <div class="basic-control-container form-floating">
            <ng-select class="form-select form-ng-select" formControlName="gender" [items]="genderOptions"
                bindLabel="label" bindValue="value"
                [class.is-invalid]="detailsFormControlls['gender'].touched && detailsFormControlls['gender'].invalid">
            </ng-select>
            <label class="primary-label" for="gender">
                Gender
            </label>
        </div>

        <div class="basic-control-container form-floating">
            <input formControlName="dateOfBirth" type="date" class="form-control"
                [max]="currentDate | date:'yyyy-MM-dd'" placeholder="Date of birth"
                [class.is-invalid]="detailsFormControlls['dateOfBirth'].touched && detailsFormControlls['dateOfBirth'].invalid">
            <label class="primary-label">Date of Birth</label>
        </div>

        <div class="basic-control-container">
            <div class="d-flex gap-2">
                <div class="form-floating">
                    <input formControlName="ageYears" type="text" placeholder="Years" class="form-control" id="ageYears"
                        readonly>
                    <label class="primary-label" for="ageYears">Years</label>
                </div>
                <div class="form-floating">
                    <input formControlName="ageMonths" type="text" placeholder="Months" class="form-control"
                        id="ageMonths" readonly>
                    <label class="primary-label" for="ageMonths">Months</label>
                </div>
                <div class="form-floating">
                    <input formControlName="ageDays" type="text" placeholder="Days" class="form-control" id="ageDays"
                        readonly>
                    <label class="primary-label" for="ageDays">Days</label>
                </div>
            </div>
            <div class="invalid-feedback">Date of birth is required</div>
        </div>

        <div class="basic-control-container form-floating">
            <input formControlName="home" type="text" class="form-control" placeholder="Home">
            <label class="primary-label">
                Home
            </label>
        </div>

        <div class="basic-control-container form-floating">
            <ng-select class="form-select form-ng-select" formControlName="familyId" bindLabel="label"
                bindValue="value">
                @for (item of familiesList(); track item.id) {
                <ng-option [value]="item.id">{{item.name}}</ng-option>
                }
            </ng-select>
            <label class="primary-label" for="father">
                Family
            </label>
        </div>

        <div class="basic-control-container form-floating">
            <ng-select class="form-select form-ng-select" formControlName="fatherId" bindLabel="label"
                bindValue="value">
                @for (item of malePersons(); track item.id) {
                <ng-option [value]="item.id">{{item.name}}</ng-option>
                }
            </ng-select>
            <label class="primary-label" for="father">
                Father
            </label>
        </div>

        <div class="basic-control-container form-floating">
            <ng-select class="form-select form-ng-select" formControlName="motherId" bindLabel="label"
                bindValue="value">
                @for (item of femalePersons(); track item.id) {
                <ng-option [value]="item.id">{{item.name}}</ng-option>
                }
            </ng-select>
            <label class="primary-label" for="mother">
                Mother
            </label>
        </div>

        <div class="basic-control-container form-floating">
            <ng-select formControlName="status" [items]="statusOptions" bindLabel="label" bindValue="value"
                [clearable]="false" [clearOnBackspace]="false" class="form-select form-ng-select">
            </ng-select>
            <label class="primary-label" for="status">
                Status
            </label>
        </div>

        @if(detailsForm.get("status")?.value == statusEnum.Deceased) {
        <div class="basic-control-container form-floating">
            <input formControlName="deathDate" type="date" class="form-control">
            <label class="primary-label">Date of Death</label>
        </div>

        <div class="basic-control-container form-floating">
            <input formControlName="deathCause" type="text" class="form-control" placeholder="Death Cause">
            <label class="primary-label">
                Death Cause
            </label>
        </div>
        }

        <div class="basic-control-container form-floating">
            <textarea formControlName="notes" class="form-control" placeholder="Anything about the person.."
                style="height: 100px"></textarea>
            <label class="primary-label">Notes</label>
        </div>
    </form>
</div>

<!-- image linking Modal -->
<div class="modal fade" id="imageLinkModal" tabindex="-1" aria-labelledby="imageLinkModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageLinkModalLabel">Image link</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @if(isImageLinkValid()) {
                <div class="d-flex w-100 justify-content-center pb-2">
                    <div class="position-relative d-inline-block">
                        <img [src]="imageLink() ?? 'images/no-image.png'" class="preview-image border"
                            referrerpolicy="no-referrer" (error)="$event.target.src='images/unsupported.png'">
                    </div>
                </div>
                }

                <div class="basic-control-container form-floating">
                    <input [ngModel]="imageLink()" (ngModelChange)="imageLink.set($event)" type="text"
                        class="form-control" placeholder="Image link" [class.is-invalid]="!isImageLinkValid()">
                    <label class="primary-label">
                        Image link
                    </label>
                </div>
            </div>
            <div class="modal-footer justify-content-between flex-nowrap">
                <button (click)="onClickLoadImage()" class="w-50 primary-button-outlined" type="button">Load</button>
                <button (click)="onClickSaveLink()" class="w-50 primary-button" type="button">Save</button>
            </div>
        </div>
    </div>
</div>
