<div class="p-3" style="position: relative; padding-bottom: 105px !important;">
    <form [formGroup]="detailsForm" (ngSubmit)="onClickSubmit()">
        <div class="text-center pb-2">
            <div (click)="showImageActionModal = true"
                class="position-relative d-inline-block rounded-pill neo-shadow-outward" style="padding: 1px;">
                <img [src]="detailsForm.get('primaryImageUrl')?.value ?? 'images/no-image.png'"
                    class="profile-image rounded-circle" referrerpolicy="no-referrer"
                    (error)="$event.target.src='images/unsupported.png'">
            </div>
        </div>

        <div class="basic-control-container form-floating">
            <input formControlName="name" type="text" class="form-control" placeholder="Name"
                [class.is-invalid]="detailsFormControlls['name'].touched && detailsFormControlls['name'].invalid">
            <label class="primary-label">
                Name
            </label>
        </div>

        <div class="basic-control-container form-floating">
            <ng-select class="form-select form-ng-select" formControlName="gender" [items]="genderOptions"
                bindLabel="label" bindValue="value"
                [class.is-invalid]="detailsFormControlls['gender'].touched && detailsFormControlls['gender'].invalid">
            </ng-select>
            <label class="primary-label" for="gender">
                Gender
            </label>
        </div>

        <div class="basic-control-container form-floating">
            <input formControlName="dateOfBirth" type="date" class="form-control"
                [max]="currentDate | date:'yyyy-MM-dd'" placeholder="Date of birth"
                [class.is-invalid]="detailsFormControlls['dateOfBirth'].touched && detailsFormControlls['dateOfBirth'].invalid">
            <label class="primary-label">Date of Birth</label>
        </div>

        <div class="basic-control-container">
            <div class="d-flex gap-2">
                <div class="form-floating">
                    <input formControlName="ageYears" type="text" placeholder="Years" class="form-control" id="ageYears"
                        readonly>
                    <label class="primary-label" for="ageYears">Years</label>
                </div>
                <div class="form-floating">
                    <input formControlName="ageMonths" type="text" placeholder="Months" class="form-control"
                        id="ageMonths" readonly>
                    <label class="primary-label" for="ageMonths">Months</label>
                </div>
                <div class="form-floating">
                    <input formControlName="ageDays" type="text" placeholder="Days" class="form-control" id="ageDays"
                        readonly>
                    <label class="primary-label" for="ageDays">Days</label>
                </div>
            </div>
            <div class="invalid-feedback">Date of birth is required</div>
        </div>

        <div class="basic-control-container form-floating">
            <input formControlName="home" type="text" class="form-control" placeholder="Home">
            <label class="primary-label">
                Home
            </label>
        </div>

        <div class="basic-control-container form-floating">
            <ng-select class="form-select form-ng-select" formControlName="familyId" bindLabel="label"
                bindValue="value">
                @for (item of familiesList(); track item.id) {
                <ng-option [value]="item.id">{{item.name}}</ng-option>
                }
            </ng-select>
            <label class="primary-label" for="father">
                Family
            </label>
        </div>

        <div class="basic-control-container form-floating">
            <ng-select class="form-select form-ng-select" formControlName="fatherId" bindLabel="label"
                bindValue="value">
                @for (item of malePersons(); track item.id) {
                <ng-option [value]="item.id">{{item.name}}</ng-option>
                }
            </ng-select>
            <label class="primary-label" for="father">
                Father
            </label>
        </div>

        <div class="basic-control-container form-floating">
            <ng-select class="form-select form-ng-select" formControlName="motherId" bindLabel="label"
                bindValue="value">
                @for (item of femalePersons(); track item.id) {
                <ng-option [value]="item.id">{{item.name}}</ng-option>
                }
            </ng-select>
            <label class="primary-label" for="mother">
                Mother
            </label>
        </div>

        <div class="basic-control-container form-floating">
            <ng-select formControlName="status" [items]="statusOptions" bindLabel="label" bindValue="value"
                [clearable]="false" [clearOnBackspace]="false" class="form-select form-ng-select">
            </ng-select>
            <label class="primary-label" for="status">
                Status
            </label>
        </div>

        @if(detailsForm.get("status")?.value == statusEnum.Deceased) {
        <div class="basic-control-container form-floating">
            <input formControlName="deathDate" type="date" class="form-control">
            <label class="primary-label">Date of Death</label>
        </div>

        <div class="basic-control-container form-floating">
            <input formControlName="deathCause" type="text" class="form-control" placeholder="Death Cause">
            <label class="primary-label">
                Death Cause
            </label>
        </div>
        }

        <div class="basic-control-container form-floating">
            <textarea formControlName="notes" class="form-control" placeholder="Anything about the person.."
                style="height: 100px"></textarea>
            <label class="primary-label">Notes</label>
        </div>
    </form>
</div>

<!-- long press action Modal -->
<app-modal [isVisible]="showImageActionModal" (close)="showImageActionModal = false" position="bottom">
    <div class="list-actions-container d-flex flex-column w-100">
        <div (click)="fileInput.click()" class="list-action-item d-flex align-items-center gap-3 py-2">
            <i class="bi bi-upload"></i>
            <span>Upload</span>
            <input id="fileUploader" type="file" (change)="onFileChange($event)" hidden #fileInput>
        </div>

        <div (click)="showImageLoadModal = true" class="list-action-item d-flex align-items-center gap-3 py-2">
            <i class="bi bi-link-45deg"></i>
            <span>Link</span>
        </div>

        <div (click)="detailsForm.get('primaryImageUrl')?.value && showImageDeleteConfirmationModal = true"
            [class.item-disabled]="!detailsForm.get('primaryImageUrl')?.value"
            class="list-action-item d-flex align-items-center gap-3 py-2">
            <i class="bi bi-trash"></i>
            <span>Delete</span>
        </div>
    </div>
</app-modal>

<!-- image linking Modal -->
<app-modal [isVisible]="showImageLoadModal" position="center" title="Image link" [showClose]="true"
    [showProcessButton]="true" [showSaveButton]="true" processButtonLabel="Load" saveButtonLabel="Save"
    (close)="showImageLoadModal=false" (process)="onClickLoadImage()" (save)="onClickSaveLink()">
    @if(isImageLinkValid()) {
    <div class="d-flex w-100 justify-content-center pb-2">
        <div class="position-relative d-inline-block">
            <img [src]="imageLink() ?? 'images/no-image.png'" class="preview-image border" referrerpolicy="no-referrer"
                (error)="$event.target.src='images/unsupported.png'">
        </div>
    </div>
    }
    <div class="basic-control-container form-floating">
        <input [ngModel]="imageLink()" (ngModelChange)="imageLink.set($event)" type="text" class="form-control"
            placeholder="Image link" [class.is-invalid]="!isImageLinkValid()">
        <label class="primary-label">
            Image link
        </label>
    </div>
</app-modal>

<!-- delete confirmation -->
<app-modal [isVisible]="showImageDeleteConfirmationModal" position="center" title="Confirmation" [showClose]="true"
    [showCloseButton]="true" [showSaveButton]="true" closeButtonLabel="Cancel" saveButtonLabel="Confirm"
    (close)="showImageDeleteConfirmationModal=false" (save)="removeImage()">
    Are you sure you want to delete this image?
</app-modal>