<div class="app-shell">
    <header class="app-header d-flex align-items-center px-3">
        <div class="row g-0 w-100">
            <div (click)="backClick()" class="col-2">
                <i class="bi bi-chevron-left"></i>
            </div>
            <div class="col">
                <a routerLink="/" class="text-decoration-none text-dark text-center">
                    <h6 class="mb-0 fw-bold">{{pageTitle()}}</h6>
                </a>
            </div>
            <div class="col-2">

            </div>
        </div>
    </header>

    <main class="app-content d-flex flex-column">
        <app-pull-to-refresh class="flex-fill">
            <router-outlet></router-outlet>
        </app-pull-to-refresh>
    </main>

    @if (commonData.configurations().isShowMenuBar) {
    <div class="bottom-nav-container">
        <div class="bottom-nav-body">
            @if (commonData.configurations().isShowAdd) {
            <div class="add-btn" (click)="onClickAdd()">
                <i class="bi bi-plus"></i>
            </div>
            }

            <nav class="nav-wrapper">
                @for(item of menuItems; track item.label) {
                <a [routerLink]="item.routerLink" routerLinkActive="active" class="nav-item">
                    <i [class]="item.icon"></i>
                    <span>{{item.label}}</span>
                </a>
                }
            </nav>
        </div>
    </div>
    }
</div>