$primary: #e0b56d;
$border: #dddddd;

.app-header {
    min-height: 50px;
    flex-shrink: 0;
    background: var(--background-color);
}

.app-content {
    flex: 1;
    overflow: auto;
}

.bottom-nav-container {
    z-index: 10;
    background: var(--background-color);

    .bottom-nav-body {
        max-width: 420px;
        height: 75px;
    }

    .nav-item {
        text-decoration: none;
        color: var(--secondary-font-color);
        font-size: 12px;
        transition: all 0.2s ease;

        i {
            font-size: 20px;
        }

        &.active {
            color: $primary;

            i {
                transform: translateY(-2px);
            }
        }
    }

    .add-btn {
        top: -25px;
        width: 55px;
        height: 55px;
        background: var(--background-color);
        cursor: pointer;

        i {
            font-size: 22px;
        }

        &:active {
            box-shadow: inset 2px 2px 4px var(--shadow-primary), inset -2px -2px 4px var(--shadow-secondary);
        }
    }
}