.family-container {
    box-shadow: 1px 1px 2px 1px #ddd;
    border-radius: 10px;
}


.member-count {
    box-shadow: inset 4px 4px 10px var(--shadow-primary), inset -4px -4px 10px var(--shadow-secondary);
    border-radius: 8px;
}