:root {
    --background-color: #eeeeee;
    --shadow-primary: #c1c2c7;
    --shadow-secondary: #ffffff;

    --primary-color: #60209a;
    --error-color: #d2465f;
    --primary-color-rgb: 96, 32, 154;
    --secondary-color: #6c757d;
    --primary-font-color: #333;
    --secondary-font-color: #666666;
    --font-color-3: #ffffff;
    --safe-top: env(safe-area-inset-top);
    --safe-bottom: env(safe-area-inset-bottom);

    --border-radius: 10px;
}

body {
    margin: 0;
    background-color: var(--background-color);
    font-family: 'Segoe UI', sans-serif;
}

.btn-light {
    color: var(--primary-color);
    background-color: var(--background-color);
    border: 1px solid var(--background-color);

    &:active {
        background-color: #FFFFFF;
    }
}

.toast {
    --bs-toast-spacing: .5rem;
}

// custom style class
.app-shell {
    height: 100vh;
    background-color: var(--background-color);
    padding-top: var(--safe-top);
    padding-bottom: var(--safe-bottom);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.disable-selection {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.primary-button {
    padding: 0.5rem, 1rem;
    border-radius: 0.5rem;
    height: 3.5rem;
    width: 100%;
    font-weight: 600;
    color: var(--font-color-3);
    background-color: var(--primary-color);
    border: none;
}

.primary-button-outlined {
    padding: 0.5rem, 1rem;
    border-radius: 0.5rem;
    height: 3.5rem;
    width: 100%;
    font-weight: 600;
    background-color: var(--font-color-3);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.no-items {
    display: flex;
    align-items: end;
    justify-content: center;
    text-align: center;
    height: 40vh;
}

// .basic-control-container {
//     padding: 4px 0px;

//     .primary-label {
//         font-size: 12px;
//         color: var(--secondary-font-color);
//         font-weight: 600;
//     }

//     input,
//     textarea {
//         font-size: 16px;
//     }
// }

.label {
    font-size: 11px;
    font-weight: 400;
    color: #505050;
}

.value {
    margin-top: -2px;
    font-size: 14px;
}

.modal.bottom .modal-dialog {
    position: fixed;
    bottom: 0;
    margin: 0;
    width: 100%;
}

.modal.bottom .modal-content {
    border-radius: 12px 12px 0 0;
}

// bottom action modal
.list-actions-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    .list-action-item {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        cursor: pointer;
        transition: all 0.2s ease;

        &:active {
            background-color: rgba(0, 0, 0, 0.05);
            transform: scale(0.98);
        }

        i {
            font-weight: 700;
            font-size: 20px;
            color: #5e5e5e
        }
    }

    .item-disabled {
        opacity: .5;
        pointer-events: none;
    }

    .list-action-item:active {
        background-color: #eee;
    }
}

.view-container {
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 100px !important;
}

// basic list items style
.list-container {
    cursor: pointer;
    padding: 0.5rem 1rem;

    .profile-image {
        width: 50px;
        height: 50px;
        object-fit: cover;
        background-color: white;
    }

    .details-container {
        flex: 1;
        min-width: 0;

        .name {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

.list-container:active {
    background-color: #d0cfcf;
}

// detail page styles
.section-title {
    color: var(--primary-font-color);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 0.75rem;
    opacity: 0.7;
}

.label-xs {
    font-size: 0.7rem;
    color: var(--secondary-color);
    margin-bottom: 2px;
    letter-spacing: 0.03rem;
    font-weight: 600;
}

.label-xxs {
    font-size: 0.6rem;
    color: #999;
}

.value-sm {
    font-size: 0.95rem;
    color: var(--primary-font-color);
    overflow-wrap: break-word;
    line-height: 18px;
}

// neomorhic design style
.neo-toggle {
    display: flex;
    cursor: pointer;

    input {
        display: none;
    }

    .track {
        width: 60px;
        height: 32px;
        border-radius: 50px;
        position: relative;
        display: inline-block;
        transition: all 0.3s ease;
        box-shadow: inset 2px 2px 4px var(--shadow-primary), inset -2px -2px 4px var(--shadow-secondary);
        background-color: var(--background-color);
    }

    .thumb {
        position: absolute;
        top: 4px;
        left: 4px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        box-shadow: 2px 2px 4px var(--shadow-primary), -2px -2px 4px var(--shadow-secondary);
        transition: all 0.3s ease;
        background-color: #d4d4d4;
    }

    // checked track 
    input:checked+.track {
        background-color: #d4d4d4;
    }

    // checked thumb 
    input:checked+.track .thumb {
        box-shadow: 2px 2px 4px var(--shadow-primary), -2px -2px 4px var(--shadow-secondary);
        left: 32px;
        background-color: var(--background-color);
    }

    // actice thumb (click)
    .track:active .thumb {
        box-shadow: inset 2px 2px 4px var(--shadow-primary), inset -2px -2px 4px var(--shadow-secondary);
    }
}

.shadow-outward-out {
    box-shadow: 2px 2px 4px var(--shadow-primary), -2px -2px 4px var(--shadow-secondary);
    border-radius: var(--border-radius);
}

.shadow-outward-in {
    box-shadow: 2px 2px 4px var(--shadow-secondary), -2px -2px 4px var(--shadow-primary);
    border-radius: var(--border-radius);
}

.shadow-inward-out {
    box-shadow: inset 2px 2px 4px var(--shadow-secondary), inset -2px -2px 4px var(--shadow-primary);
    border-radius: var(--border-radius);
}

.shadow-inward-in {
    box-shadow: inset 2px 2px 4px var(--shadow-primary), inset -2px -2px 4px var(--shadow-secondary);
    border-radius: var(--border-radius);
}


.neo-formcontrol {
    position: relative;
    margin: 10px 0;
    min-height: 55px;
    border-radius: var(--border-radius);
    box-shadow: inset 2px 2px 4px var(--shadow-primary), inset -2px -2px 4px var(--shadow-secondary);
    transition: all 0.2s ease;
    border: 1px solid var(--background-color);

    input,
    textarea {
        width: 100%;
        height: 100%;
        padding: 24px 14px 5px;
        border: none;
        outline: none;
        background: transparent;
        color: var(--primary-font-color);
        font-size: 16px;
    }

    label {
        position: absolute;
        top: 50%;
        left: 14px;
        transform: translateY(-50%);
        pointer-events: none;
        transition: all 0.2s ease;
        font-size: 12px;
        color: var(--secondary-font-color);
        font-weight: 600;
    }

    .right-icon {
        position: absolute;
        right: 5px;
        top: 5px;
        bottom: 5px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: var(--border-radius);
        transition: all 0.15s ease;
        z-index: 2;
        color: var(--secondary-font-color);
        font-size: 1.1rem;

        &:active {
            box-shadow: inset 2px 2px 4px var(--shadow-primary), inset -2px -2px 4px var(--shadow-secondary);
        }
    }

    .hidden-date-input {
        position: absolute;
        opacity: 0;
        pointer-events: none;
        width: 0;
        height: 0;
        bottom: 0;
        left: 50%;
    }

    .ng-select .ng-clear-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        margin-top: -21px;

        .ng-clear {
            font-size: 24px !important;
            font-weight: 500;
            color: var(--secondary-font-color);
        }
    }

    .ng-select .ng-arrow-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        margin-top: -24px;

        .ng-arrow {
            width: 10px;
            height: 10px;
            border: none;
            border-right: 2px solid var(--secondary-font-color);
            border-bottom: 2px solid var(--secondary-font-color);
            transform: rotate(45deg);
            transform-origin: center;
            transition: transform 0.2s ease;
        }
    }

    .ng-select.ng-select-opened .ng-arrow {
        transform: rotate(-135deg) translateY(-5px) translateX(-5px);
    }

    .ng-select {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        background: transparent;
        color: var(--primary-font-color);
        font-size: 16px;

        .ng-select-container {
            padding: 24px 14px 5px;
            border: none !important;
            background: transparent !important;
            box-shadow: none !important;
            cursor: pointer;

            .ng-value-container {
                min-height: 25px;
                display: flex;
                gap: 4px;
                align-items: baseline;
                padding: 0 !important;
            }
        }
    }

    .ng-input>input {
        padding-left: 14px !important;
    }

    .ng-select-multiple .ng-value {
        display: flex;
        align-items: center;
        gap: 2px;
        height: fit-content !important;
        background-color: #fff;

        .ng-value-icon {
            border-right: 1px solid #eee;
            padding: 0px 5px
        }

        .ng-value-label {
            padding: 0px 5px;
        }
    }

    .ng-dropdown-panel {
        background-color: var(--background-color) !important;
        box-shadow: inset 2px 2px 4px var(--shadow-secondary), inset -2px -2px 4px var(--shadow-primary);
        border-radius: var(--border-radius);
        border: none;

        .ng-dropdown-panel-items {
            border-radius: inherit;

            .ng-option {
                padding: 10px 14px;
                color: var(--primary-font-color);

                &.ng-option-selected {
                    background-color: var(--primary-color) !important;
                    color: #fff !important;
                    font-weight: 600;
                }
            }
        }
    }
}

.neo-formcontrol:has(textarea) label {
    top: 24px;
    transform: translateY(0);
}

.neo-formcontrol:focus-within label,
.neo-formcontrol.filled label,
.neo-formcontrol:has(input[type="date"]) label {
    top: 8px;
    font-size: 10px;
    transform: translateY(0);
}

.neo-formcontrol.invalid {
    border-color: #ff8888;

    label {
        color: var(--error-color);
    }
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: grayscale(1) opacity(0.5);
    cursor: pointer;
}

input[type="date"]::-webkit-datetime-edit-fields-wrapper {
    padding: 0;
}