.time {
    font-size: 32px;
    font-weight: bold;
}

.pill {
    padding: 5px;
    border-radius: 7px;
    background: #91b5a9;
    color: #eee;
    font-size: 11px;
}

.pill-label {
    font-size: 11px;
}

.neo-toggle {
    height: 70px;
    border-radius: 40px;
    background-color: #e9d7ad;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &.dark-active {
        background-color: #91b5a9;
    }

    .toggle-circle {
        height: 50px;
        width: 75px;
        background: var(--background-color);
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 8px;
        top: 10px;
        transition: left 0.3s cubic-bezier(0.4, 0, 0.2, 1);

        i {
            font-size: 30px;
            color: var(--primary-font-color);
            transition: color 0.3s ease;
        }
    }

    &.dark-active .toggle-circle {
        left: calc(100% - 75px - 8px);
    }
}


.progress-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    .progress-content {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: var(--background-color);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 11px;
    }
}


.neo-icon {
    aspect-ratio: 1;
    font-size: 25px;
    color: var(--primary-font-color);
}