$primary-color: #007bff;

input,
textarea {
    font-size: 16px;
}

button {
    font-weight: 500;
}

.add-button {
    color: var(--primary-color);
    background-color: #fff;
    border: none;
    box-shadow: 0px 0px 1px 0px var(--primary-color);
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.basic-control-container {
    padding: 4px 0px;
    
    .primary-label {
        margin: 0px !important;
        padding: 0px !important;
        font-size: 12px;
        color: var(--secondary-font-color);
        font-weight: 600;
    }
}